
@{
    ViewBag.Title = "Finished";
}
<div class="container" style="padding:100px 0 100px 0;">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            <h2>Tebrikler Siparişiniz Başarıyla Gerçekleştirilmiştir.</h2>
            <div class="row" style="padding-top:50px;">
                <div class="col-lg-5">

                </div>
                <div class="col-lg-2">
                    <a asp-action="Index" asp-controller="Home" class="justify-content-center">Anasayfaya</a>
                </div>
                <div class="col-lg-5">

                </div>
            </div>
           
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>


